* {
  font-family: "font-family:Comic Neue", cursive;
}

body {
  margin: 0;
}

.container {
  display: flex;
  width: 800px;
  margin: auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.column-full {
  width: 100%;
}

.button-div {
  height: 700px;
  display: flex;
  align-items: center;
}

.add-entry-button {
  height: 30px;
  width: 100px;
  background-color: blueviolet;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  border: none;
}

.add-entry-button:hover {
  cursor: pointer;
  background-color: rgb(60, 0, 60);
}

.back-ground-div {
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.419);
  position: absolute;
  margin: 0;
}

.hidden {
  display: none;
}

.text-area {
  width: 95%;
  height: 100px;
  resize: none;
  padding-left: 15px;
}

.modal {
  width: 600px;
  height: 275px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 10px;
}

.modal-title {
  font-weight: 100;
}

.drop-down {
  text-align: left;
  padding: 1rem 0 1rem 20px;
}

.submit {
  padding-top: 10px;
  text-align: right;
  padding-right: 10px;
}

.submit-button {
  height: 30px;
  width: 100px;
  background-color: blueviolet;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  margin: 0.5rem;
}

.submit-button:hover {
  cursor: pointer;
  background-color: rgb(60, 0, 60);
}
